/* Nav style */

/* common shared css */
body {
  font-family: "Open-Sans", sans-serif;
}

.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  cursor: pointer;
}

/* common shared css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.text-primary {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* Header style */
.header {
  background-color: #fff8f3;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
}
.banner .profile-picture {
  width: 500px;
}
